extends ../layout/default

block sidebarMain
    div(class="sidebarMain")
        if !alien.displayName
            h6(class="badge badge-warning") User
        else
            h6(class="badge badge-success")= alien.userName
        hr
        a(href="/auth/google", class="badge badge-warning") Google Auth
        a(href="/auth/spotify", class="badge badge-warning") Spotify Auth

block contentMain
    //- Main Area for Content
    div(class="contentMain")
        //- contentMain Header Row
        div(class="row")
            //- contentMain Title Column
            div(class="col-6")
                h6(class="badge badge-success")= title
                hr
            //- contentMain Extra Column (flash messages?)
            div(class="col-6")
        //- contentMain Body Row
        div(class="row")
            //- Left Side
            div(class="col-6")
                //- New User
                div(id="new-user-create")
                    h6 First time here?
                    a(href="/auth/login", class="badge badge-info")
                        p Create a new Account
            //- Right Side
            div(class="col-6")
        div(class="border border-warning rounded")
            p styling for flash message warnings

block panel1
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 panel one
        div(class="panelBody")
            p placeholder

block panel2
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 panel two
        div(class="panelBody")
            p placeholder

block panel3
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 panel three
        div(class="panelBody")
            p placeholder

block panel4
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 panel four
        div(class="panelBody")
            p placeholder