extends ../layout/default

block sidebarMain
    div(class="sidebarMain")
        center
            h6(class="badge badge-success") SIDEBAR TITLE
        hr
        center
            a(href="/auth/google", class="badge badge-warning") Google Auth
            a(href="/auth/spotify", class="badge badge-warning") Spotify Auth

block contentMain
    div(class="contentMain")
        h6(class="badge badge-success") Index
        hr
        div(class="border border-warning rounded")
            p flash warning

block panel1
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 hello 1
        div(class="panelBody")
            p ayylmao ayylmao ayylmao ayylmao ayylmao

block panel2
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 hello 2
        div(class="panelBody")
            p ayylmao ayylmao ayylmaoooo