extends ../../layout/login

block loginMain
    //- div element between row/col sequence
    div(class="loginMain")
        //- title of contentMain
        div(class="row")
            //- body of contentMain
            div(class="col-12 contentMaintitle")
                //- if no alien(user), create an account 
                if !alien
                    h6(class="badge badge-info") Create an Account
                else
                    h6(class="badge badge-info") Already logged In
        //- body of contentMain
        div(class="row")
            div(class="col-6 contentMaintitle")
                //- if no alien(user), display form to create an account
                if !alien
                    //- Create an Account Body
                    div(class="btn-group", role="group", aria-label="Form Information")
                        button(type="button", class="btn btn-info")
                            h6(class="badge badge-warning") optional
                        button(type="button", class="btn btn-info")
                            h6(class="badge badge-danger") required
                    hr
                    //- form()
                    a(href="/auth/google", class="badge badge-warning") Google Auth
                    a(href="/auth/spotify", class="badge badge-warning") Spotify Auth
                else
                    //- view your user account {link to /user}
                    //- edit your user account {link to /user/edit}
            div(class="col-6 contentMaininfo")
                //- display information about the form in here

block panel1
    div(class="panel panel-default rounded invisible", id="panel-one")
        div(class="panelTitle")
            h6 hello 1
        div(class="panelBody")
            p ayylmao ayylmao ayylmao ayylmao ayylmao

block panel2
    div(class="panel panel-default rounded visible", id="panel-two")
        div(class="panelTitle")
            h6(class="badge badge-success") LOGIN
        div(class="panelBody")
            if !alien
                p please create an account or login below
            else
                p= alien.userName
                