extends ../../layout/default
//- "alien" = "user"
block sidebarMain
    div(class="sidebarMain")
        h6(class="badge badge-success") LOGIN
        hr
        if !alien
            p you are not logged in
            p create an account with google or spotify below
            a(href="/auth/google", class="badge badge-warning") Google Auth
            a(href="/auth/spotify", class="badge badge-warning") Spotify Auth
        else
            p you are logged in

block contentMain
    //- div element between row/col sequence
    div(class="contentMain")
        //- title of contentMain
        div(class="row")
            div(class="col-6 contentMaintitle")
                if !alien
                    h6(class="badge badge-danger") no user detected!
                    h6(class="badge badge-warning") log in or create an account
                    hr
                else
                    h6(class="badge badge-success") logged in
                    hr
        div(class="row")
            div(class="col-6 contentMaininfo")    

        //- body of contentMain
        div(class="contentMainbody")
            if !alien
                //- sign up form


block panel1
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 hello 1
        div(class="panelBody")
            p ayylmao ayylmao ayylmao ayylmao ayylmao

block panel2
    div(class="panel panel-default rounded", id="panel-one")
        div(class="panelTitle")
            h6 hello 2
        div(class="panelBody")
            p ayylmao ayylmao ayylmaoooo