extends ../../layout/login

block loginMain
    //- div element between row/col sequence
    div(class="loginMain rounded-bottom")
        //- title of contentMain
        div(class="row no-gutters")
            //- body of contentMain
            div(class="col-12 contentMaintitle")
                //- if no alien(user), create an account 
                if !alien
                    h6(class="badge badge-info") Create an Account
                else
                    h6(class="badge badge-info") Already logged In
        //- body of contentMain
        div(class="row no-gutters")
            div(class="col-6")
                div(class="contentMaintitle")
                    //- if no alien(user), display form to create an account
                    if !alien
                        form(action="/auth", method="post")
                            input(type="text", name="userName")
                            input(type="text", name="userPass")
                            input(type="submit", name="submit")
                        //- a(href="/auth/google", class="badge badge-warning") Google Auth
                        //- a(href="/auth/spotify", class="badge badge-warning") Spotify Auth
                    else
                        //- do nothing because it should redirect the user to the user page
            div(class="col-6 contentMaininfo")
                //- display information about the form in here

block panel1
    div(class="panel panel-default rounded invisible", id="panel-one")
        div(class="panelTitle")
            h6 hello 1
        div(class="panelBody")
            p ayylmao ayylmao ayylmao ayylmao ayylmao

block panel2
    div(class="panel panel-default rounded visible", id="panel-two")
        div(class="panelTitle")
            h6(class="badge badge-success") LOGIN
        div(class="panelBody")
            if !alien
                p please create an account or login below
            else
                p= alien.userName
                