html,
body {
    background-color: black!important;
    background: black!important;
}


/* Entire Site CSS */

i.fa-campground {
    color: linear-gradient(135deg, orange, orange 60%, cyan);
}

h6 {
    vertical-align: top!important;
    margin-bottom: 0px!important;
}

.no-padd-right {
    /* helps panels on the left look clean & even */
    padding-right: 0px;
}

.no-padd-left {
    /* helps panels on the right look clean & even */
    padding-left: 0px;
}

.no-gutters {
    /* helps with how I want the site to be styled, 
    using it on the main site section */
    margin-right: 0px;
    margin-left: 0px;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

hr {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: white;
}

*>a {
    /* this might need to be changed, if styling on an a element needs to be unique */
    background: transparent!important;
    text-decoration: none;
    color: white;
}

#no-padd {
    /* might not use this anymore */
    padding: 0px!important;
}


/*  ============
    Main Section:           Navigation
    ============ */

.navbar,
.btn-group {
    background: transparent!important;
    background-color: transparent!important;
    min-height: 30px;
    max-height: 30px;
    height: 30px;
}

.btn-surreal {
    background-color: transparent!important;
    color: white;
    height: 30px;
    padding: 5%;
}


/*  ============
    Main Section:           Content
    ============ */

.contentMain,
.sidebarMain {
    background: transparent!important;
    background-color: transparent!important;
    min-height: 100%!important;
    max-height: 100%!important;
    height: 500px;
    padding: 10px!important;
    overflow: hidden!important;
}

.contentMain {
    border-left: 0px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
    border-bottom-right-radius: .25rem!important;
}

.sidebarMain {
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
    border-bottom-left-radius: .25rem!important;
}


/*  ======
    Panels 
    ====== */

.panel {
    width: 100%!important;
    height: 100%!;
    border: 1px solid;
    z-index: 1;
    position: relative;
}

.panelTitle {
    padding: 10px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.panelBody {
    padding: 10px;
    color: white;
    font-weight: normal;
    border: 0px;
}

.panel-default {
    border-color: white;
    min-height: 250px!important;
    margin-bottom: 15px;
}

.panel-info {
    border-color: gold;
}