extends ../layout/default

block sidebarMain
    //- Styling for the "/user" page Sidebar
    div(id="user-sb")
        //- User SideBar Title
        div(id="user-sb-title")
            //- if !alien
            //-     h6(class="badge badge-warning") ERR: NO USER LOGGED IN
            //- else if !alien.userName
            //-     h6(class="badge badge-warning") ERR: CREATE A USERNAME
            //- else
            //-     h6(class="badge badge-success")= alien.userName
        div(id="user-sb-body")
            //- if !alien.googleId
            //-     div(class="btn-group", role="group")
            //-         button(type="button", class="btn btn-surreal-danger")
            //-             i(class="fab fa-google-plus-g")
            //-         button(type="button", class="btn btn-surreal-warning")
            //-             a(href="/auth/google")
            //-                 p Connect Google Account
block contentMain

    

block panel1

    p ayylmao

block panel2

block panel3

block panel4