extends ../../../layout/default.pug

block sidebarMain

    h6(class="badge badge-warning") Statistics Map

block contentMain

    div(class="mapid")

block panel5

    div(class="panel panel-default rounded visible", id="panel-five")
        div(class="panelTitle")
            h6 Map Legend
        div(class="panelBody")
            p (icon) map marker