extends ../../../layout/default.pug

block css
    //- Needed for the Map to work
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js")
    link(rel="stylesheet", href="/stylesheets/map.css")
    //- Mapbox
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css', rel='stylesheet')

block sidebarMain

    div(class="sidebarMain")
        h6(class="badge badge-success") Statistics Map
        hr
        //- later on there is an if statement to determine if theres a user on the page

block contentMain
    div(class="contentMap")
        div(id="map")

block panel1

    div(class="panel panel-default rounded invisible", id="panel-one")
        div(class="panelTitle")
            h6 undefined
        div(class="panelBody")
            p undefined

block panel2

    div(class="panel panel-default rounded invisible", id="panel-two")
        div(class="panelTitle")
            h6 undefined
        div(class="panelBody")
            p undefined

block panel3

    div(class="panel panel-default rounded invisible", id="panel-three")
        div(class="panelTitle")
            h6 undefined
        div(class="panelBody")
            p undefined

block panel4

    div(class="panel panel-default rounded invisible", id="panel-four")
        div(class="panelTitle")
            h6 undefined
        div(class="panelBody")
            p undefined

block panel5

    div(class="panel panel-default rounded visible", id="panel-five")
        div(class="panelTitle")
            h6 Map Legend
        div(class="panelBody")
            p (icon) map marker

block footer
    script
        include map.js